.toolbar-btn {
    width: min-content;
    border-radius: 0;
    position: relative;
}

.selected-btn {
    background-color: rgb(133, 133, 133) !important;
}

.canvas-container {
    /* display: flex;
    flex-direction: row; */
}

.canvas-toolbar {
    display: flex
}

.color-picker {
    position: absolute;
    display: flex;
    background-color: grey; /*TODO: Better color*/
    top: 42px;
    z-index: 9999;
    border-radius: 5px;
}

.pick-color {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 5px;
    border-radius: 5px;
}